{% extends 'base.html' %}
{% load staticfiles %}

{% block head_js %}
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock head_js %}

{% block page_title %}Home Page{% endblock %}

{% block page_heading %}Home{% endblock %}

{% block content %}
<div class="sale-countdown">
        <h2>OUR HUGE SUMMER SALE STARTS IN: </h2>
        <table class="container text-center">
            <tr class="countdown" id="countdown">
                <td id="days"></td>
                <td id="hours"></td>
                <td id="minutes"></td>
                <td id="seconds"></td>
            </tr>
            <tr>
                <td class="countdown">Days</td>
                <td class="countdown">Hours</td>
                <td class="countdown">Minutes</td>
                <td class="countdown">Seconds</td>
            </tr>
        </table>
    </div>
{% endblock %}