{% extends 'base.html' %}
{% load staticfiles %}

{% block head_js %}
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
{% endblock head_js %}

{% block content %}
<div class="container container-fluid homepage">
    <div class="sale-countdown homepage-countdown">
        <h2 class="countdown-heading">OUR HUGE SUMMER SALE STARTS IN: </h2>
        <table class="container text-center countdown-table">
            <tr class="countdown" id="countdown">
                <td id="days"></td>
                <td id="hours"></td>
                <td id="minutes"></td>
                <td id="seconds"></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}