{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Subscriptions{% endblock %}

{% block head_js %}
<script src="{% static 'js/countdown.js' %}"></script>
{% endblock head_js %}

{% block content %}
<div class="container container-fluid">
    <div class="row sale-countdown">
        <p class="mx-auto countdown-heading">OUR HUGE SUMMER SALE STARTS IN:</p>
        <table class="container text-center countdown-table">
            <tr class="countdown" id="countdown">
                <td id="days"></td>
                <td id="hours"></td>
                <td id="minutes"></td>
                <td id="seconds"></td>
            </tr>
        </table>
    </div>
    <br>
    <h1>Subscribe Today</h1>
    <div class="row">
        <p class="col-lg-8 col-sm-8 mx-auto">Everyone wants to able to snack on chocolate and other goodies from time to time - why should being keto stop you from enjoying the little things in life? Our subscription box service offers a wide range of new keto-treats each month to help you stay in ketosis and make sure you can still enjoy a varied, fun diet whilst staying on track towards your health goals.
        </p>
    </div>
    <div class="row">
        {% for subscription in subscriptions %}
        <div class="card subscription-cards col-lg-3  col-md-5 mx-auto">
            <img class="card-img-top" src="{{MEDIA_URL}}{{ subscription.image }}" alt="Product image">
            <div class="card-body">
                <h5 class="card-title">{{ subscription.name }} - £{{ subscription.price }}</h5>
                <p class="card-text subscription-info mx-auto">{{ subscription.description }}</p>
                <form method="POST" action="{% url 'add_to_cart' subscription.id 'subscription' %}">
                    {% csrf_token %}
                    <div class="input_group">
                        <input type="number" name="quantity" min="1" max="999" class="form-control" placeholder="Quantity" value="1"/>
                        <br>
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add to Cart</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
