{% extends 'base.html' %}

{% block page_title %}Set New Password{% endblock %}

{% block content %}

    {% if validlink %}
    <p>Please enter a new password:</p>
    <form method="POST">
        <div class="csrf-div">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
        </div>
        <table>
            <tr>
                <td>{{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label>
                </td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label>
                </td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-outline-success" type="submit">Set New Password</button>
                </td>
            </tr>
        </table>
    </form>
    
    {% else %}
    <h1>Failed to reset password</h1>
    <p>Invalid password reset link.</p>
    <p>This may be because the link has already been used. Please request a new
        <a href="{% url 'password_reset' %}">password reset link</a>.
    </p>
    {% endif %}
    
{% endblock %}