{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Reset Password{% endblock %}

{% block content %}
<div class="container container-fluid">
<h1>Password Reset</h1>
<br>
<div class="row password-reset-form">
    <form method="POST" class="form-group mx-auto">
        {% csrf_token %}
        {{ form.email.errors }}
            <label for="id_email" class="email-input">Please enter your email address:</label>
            <br>
            {{ form.email }}
            <br>
            <button class="btn btn-success reset-password-btn">Reset Password</button>
    </form>
</div>
</div>
{% endblock %}