html {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    overflow-x: hidden;
}

body {
    height: 100%;
    text-align: center;
}

.homepage {
    background-image: url('/static/assets/keto.jpg');
    background-position: center;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.sale-countdown {
    text-align: center;
    font-weight: bold;
    background-color: red;
    color:white;
    border-radius: 5px;
    text-shadow: 1px 1px slategray;
    font-size: 26px;
    width: 80%;
    margin: 0 auto;
}

.homepage-countdown {
    width: 60%;
}

.countdown-heading {
    margin-right: 0;
}

.countdown-table {
    width: 20%;
    font-size: 26px;
    margin-left: 0;
    margin-top: 0;
}

.account-form {
    margin: 0 auto;
    width: 50%;
}

.csrf-div {
    display: none;
}

.product-row{
    margin: 0 auto;
}

.card {
    margin: 2rem;
}

.card-img-top {
    width: 15rem;
    height: 17.5rem;
    padding: 0.5rem;
}

.product-image {
    width: 25rem;
    height: 30rem;
}

#seeMore1,
#seeMore2 {
    display: none;
}

.see-more{
    background: transparent;
    border: 0px;
}

table.nutrition-values,
.ingredient-container {
    width: 25%;
    margin: 0 auto;
}