html {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    overflow-x: hidden;
}

body {
    height: 100%;
    text-align: center;
}

.container-fluid {
    width: 100vw;
}

.homepage {
    background-image: url('/static/assets/keto.jpg');
    background-position: center;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

h1.landing-page-heading {
    font-size: 50pt;
    text-shadow: 1px 1px slategray;
    color: #F8F9FA;
}

.landing-page-subheading {
	color: #F8F9FA;
	text-shadow: 1px 1px slategrey;
    font-weight: bold;
}

.sale-countdown {
    text-align: center;
    font-weight: bold;
    background-color: red;
    color:white;
    border-radius: 5px;
    text-shadow: 1px 1px slategray;
    font-size: 20px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 2.5rem;
}

.homepage-countdown {
    width: 45%;
}

.countdown-heading {
    margin-right: 0;
    margin-bottom: 0;
    padding-right: 0;
}

.countdown-table {
    width: 20%;
    font-size: 20px;
    margin-left: 0;
    margin-top: 0;
}

h1{
    font-weight: bold;
}

.account-form {
    margin: 0 auto;
    width: 50%;
}

.csrf-div {
    display: none;
}

.product-card {
    margin: 2rem;
}

.card-img-top {
    width: 15rem;
    height: 17.5rem;
    padding: 0.5rem;
}

.product-image {
    width: 25rem;
    height: 30rem;
}

#seeMore1,
#seeMore2 {
    display: none;
}

.see-more{
    background: transparent;
    border: 0px;
}

table.nutrition-values,
.ingredient-container {
    width: 25%;
    margin: 0 auto;
}

label {
    float: left;
}

.password-reset-form {
    text-align: center;
}

.reset-password-btn{
    margin-top: 5%;
}

.password-reset-complete-msg{
    font-size: 24px;
}

/* ------------ MEDIA QUERIES ----------- */

/* --------- SMALL DEVICES ----------- */

@media screen and (max-width: 600px) {

    .navbar-nav>li>a {
        text-align: center;
        width: 25%;
        float: right;
        z-index: 1;
    }

    .nav-search {
        width: 10rem !important;
        float: right;
    }

    .sale-countdown{
        width: 100%;
        font-size: 10px;
        font-weight: normal;
    }

    .countdown-table {
        width: 24%;
        font-size: 10px;
        font-weight: normal;
    }

    .card {
        width: 85%;
    }

    .product-card {
    margin: 0;
    }

    .product-image {
        width: 19rem;
        height: 22rem;
    }

    .card-img-top {
        margin: 0 auto;
    }

    .product-info,
    .subscription-info {
        width: 90%;
    }

    .account-form {
        width: 80%;
    }

    table.nutrition-values {
        width: 15rem;
    }
}
@media screen and (min-width:601px) and (max-width:1099px) {

    .navbar-nav>li>a {
        text-align: center;
        width: 25%;
        float: right;
        z-index: 1;
    }

    .nav-search {
        float: right;
        width: 17.5rem;
    }

    .sale-countdown{
        width: 90%;
        font-size: 12px;
        font-weight: normal;
    }

    .countdown-table {
        width: 24%;
        font-size: 12px;
        font-weight: normal;
    }

    .card {
        width: 50%;
    }

    .product-card {
    margin: 0;
    }
}