{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}
<div class="container container-fluid">
    <div class="row">
        {% for item in cart_items %}
        <div class="card col-lg-3 col-md-5 mx-auto">
            <div class="card-body">
                <img class="card-img-top" src="url('{{ MEDIA_URL }}{{ item.product.image }}')">
                <h3 class="card-title">{{ item.product.name }}</h3>
                <p class="card-text">{{ item.product.description }}</p>
                <p>{{ item.quantity }}</p>
                <p>£{{ item.product.price }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <p>Total</p>
        <p>£{{ total }}</p>
    </div>
    
    <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <legend>Payment Details</legend>

    <div id="credit-card-errors" style="display: none;">
        <div id="alert-message block-message error" id="stripe-error-message"></div>
    </div>

    <form>
        <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" value="{{user.email}}">
        </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" value="{{user.customer.address_1}}">
        </div>
    <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" value="{{user.customer.address_2}}">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity" value="{{user.customer.city}}">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">County</label>
            <input type="text" class="form-control" id="inputCounty" value="{{user.customer.county}}">
        </div>
        <div class="form-group col-md-2">
            <label for="inputPostcode">Postcode</label>
            <input type="text" class="form-control" id="inputPostcode" value="{{user.customer.postcode}}">
        </div>
    </div>
    <div class="form-group col-md-6">
        {{ payment_form | as_bootstrap }}
    </div>

    {% csrf_token %}
    <div class="form-group col-md-12">
        <input class=" btn btn-success" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
</form>
</div>
{% endblock %}
