{% extends 'base.html' %}

{% block page_title %}{{ user }}'s Account{% endblock %}

{% block page_heading %}Hi, {{ user }}{% endblock %}

{% block content %}
    <p>{{ profile.first_name }} {{ profile.last_name }}</p>
    <p>{{ profile.email }}</p>
    <p>{{ profile.customer.address_1 }}</p>
    <p>{{ profile.customer.address_2 }}</p>
    <p>{{ profile.customer.city }}</p>
    <p>{{ profile.customer.county }}</p>
    <p>{{ profile.customer.postcode }}</p>
    <p>{{ profile.customer.telephone }}</p>
{% endblock %}