{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Registration Page{% endblock %}

{% block page_heading %}Register{% endblock %}

{% block content %}
    <p>If you already have an account, you can <a href="{% url 'login' %}">log in</a>.</p>
    <form method="POST" class="account-form">
        {% csrf_token %}
        {{ registration_form | as_bootstrap }}
        <p>Please let us know if you have any allergies or food intolerances so that we can tailor your box to suit your needs each month:</p>
        {{ customer_form | as_bootstrap }}
        <button class="btn btn-outline-success" type="submit">Register</button>
    </form>
    <br>
{% endblock %}