{% extends 'base.html' %}
{% block content %}
<h1 class="card-title">{{ product.name }} - {{ product.brand }}</h1>
<div class="row">
    <div class="card col-lg-3">
        <img class="card-img-top" src="{{MEDIA_URL}}{{ product.image }}" alt="Product image">
        <div class="card-body">
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">£{{ product.price }}</p>
            {% for ingredient in ingredients %}
            <p class="card-text">{{ ingredients }}, </p>
            {% endfor %}
            <form method="POST" action="{% url 'add_to_cart' product.id 'product' %}">
                {% csrf_token %}
                <div class="input_group">
                    <input type="number" name="quantity" min="1" max="999" class="form-control" placeholder="Quantity" valaue="1"/>
                    <br>
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add to Cart</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
